{% extends "core/content.html"%}
{% block content %}
<section id="auth" style="margin: 50px 0px;">
    <div id="container-auth">
        <h2>Fragile Mystery</h2>
        <h3 >Авторизация</h3>
        <div style="margin: 0px; 0px;">
            <div style="padding: 40px; border: solid 1px #5DB4A3;">
                <p>Пожалуйста введите свою почту</p>
                <form action="{% url 'authorization' %}" method="post">
                    {% csrf_token %}
                    <p>{{form.email}}</p>
                    {{form.email.errors}}
                    <button class="center btn btn-detail without_box dark-green" type="submit"> Получить код </button>
                </form>
            </div>

        </div>
    </div>
</section>
{% endblock %}