.center{
    display:block;
    margin: 0 auto;
}

.without_space{
    margin: 0;
    padding: 0;
}
.without_box:focus{
    box-shadow: none;
}

.dark-green{
    background: #268371;
    color: white;
}
.light-green{
    background-color: #459989;
    color: white;
}
.pretty-green{
    background-color: #5DB4A3;
    color: white;
}
.title-gray{
    color: #7E7979;
}
.price-gray{
    color: #A5A5A5;
}

#search_icon{
    background: white;
    fill: #CBCBCB;
    border: 0;
    border-radius: 0;
}
a>svg:hover{
    fill: #268371;
}
#search_input{
    border: 0;
}
#search_btn{
    border-radius: 0;
}

.btn-underline:hover{
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-detail:hover{
    background-color: #268371;
    color: white;
}
.btn-collapse:hover{
    background-color: #459989;
}

.input_price{
    border: 0;
}