.center{
    display:block;
    margin: 0 auto;
}

.without_space{
    margin: 0;
    padding: 0;
}
.without_box:focus{
    box-shadow: none;
}

.dark-green{
    background: #268371;
    color: white;
}
.light-green{
    background-color: #459989;
    color: white;
}
.pretty-green{
    background-color: #5DB4A3;
    color: white;
}
.title-gray{
    color: #7E7979;
}
.price-gray{
    color: #A5A5A5;
}

#search_icon{
    background: white;
    fill: #CBCBCB;
    border: 0;
    border-radius: 0;
}
a>svg:hover{
    fill: #268371;
}
#search_input{
    border: 0;
}
#search_btn{
    border-radius: 0;
}

.btn-underline:hover{
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-detail:hover{
    background-color: #268371;
    color: white;
}
.btn-collapse:hover{
    background-color: #459989;
}

.input_price{
    border: 0;
}
ul{
    padding: 0px;
}
li{
    list-style-type: none;
}
/*---------  Каталог  ---------*/
section#catalog{
    margin-top: 50px;
    margin-bottom: 100px;
}
#catalog .container-fluid{
    padding: 0px;
}
#catalog .container-fluid .row{
    margin: 0px;
}
#catalog .container#filters{
    padding: 10px;
}
#col-filter{
    padding: 0px;
}
#filters .input_price{
    width: 60px;
}
#catalog .container#jewelries{
    padding: 0px;
}
#catalog h4, .filter-item{
    margin-top: 15px;
}
#col-jewelries{
    padding: 0px;
}
#jewelries h6{
    margin: 5px 0px 20px 0px;
}
#jewelries .card-item {
    padding: 15px;
}
#jewelries .card-footer{
    border-top: 0px;
    background: white;
}
#jewelries .card-img-top {
    height: 350px;
    width: 100%;
    object-fit: cover;
}
/*---------  Подробное описание  ---------*/
section#view{
    margin-top: 50px;
    margin-bottom: 100px;
}
#view .title{
    margin: 20px 0px;
}
#view .price{
    margin-top: 20px;
    margin-bottom: 60px;
}
#view .tag{
    border-radius: 10px;
}