{% extends 'core/content.html' %}
{% load static %}

{% block maincontent %}
<section id="payment">
  <div class="container">
    <h6 class="text-center display-6">Оплата</h6>
    <ul>
      <li>
        <p class="font-italic">
          1. После оформления заказа с вами свяжется наш менеджер для уточнения деталей и реквизитов оплаты
        </p>
      </li>
      <li>
        <p class="font-italic">
          2. Оплата может осуществляться переводом на банковскую карту (Сбербанк, Тинькофф) или электронный кошелек
        </p>
      </li>
      <li>
        <p class="font-italic">
          3. При заказе на создание украшений оплата взимается после изготовления изделий
        </p>
      </li>
    </ul>

  </div>
</section>

{% endblock %}