{% extends "registration/base.html"%}

{% block message-title %}
Регистрация
{% endblock %}

{% block message-body %}
<p>Если вы уже зарегистрированы, перейдите по <a href="{% url 'login' %}">ссылке</a></p>
{% if form.errors %}
    <ul>
        {% for field, error in form.errors.items %}
            {% if field == 'all'  %}
                <li>{{ error }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% for f in form %}
    <p>{{f}}</p>
    {{f.errors}}
    {% endfor %}
    <button class="center btn btn-detail without_box dark-green" type="submit"> Зарегистрироваться </button>
</form>
{% endblock %}
