{% extends 'core/content.html' %}
{% load static %}

{% block maincontent %}
<section id="search">
    <div class="container">
        <h3 class="text-center display-6">Результаты поиска</h3>
        <div class="row">
            {% if jewelries %}
            {% for jew in jewelries %}
            <div class="card-item col-12 col-lg-3 col-md-4">
                <div class="card h-100">
                    <a href="{{ jew.get_absolute_url }}">
                        <img src="{{jew.main_photo.url}}" class="card-img-top" alt="фото украшения">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title title-gray">{{jew.title}}</h5>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text price-gray">{{jew.price|floatformat:"0"}} руб.</p>
                        <a href="{{ jew.get_absolute_url }}" class="btn btn-detail pretty-green without_box">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">
                По вашему запросу ничего не найдено(
            </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}